<app-edit name="Sender"
          [edit]="selectedStation.id" 
          [valid]="selectedStation.name && (nameUnique$ | async)"
          [requestInProgress]="requestInProgress"
          (cancel)="onCancel()"
          (update)="onUpdate()"
          (create)="onCreate()"
          (delete)="onDelete()"
          >
  <div class="form-group">
    <label for="inputId">Id</label>
    <input [(ngModel)]="selectedStation.id" name="selectedStation.id" type="text" class="form-control"
      id="inputId" disabled>
  </div>
  <div class="form-group">
    <label for="inputName">Name</label>
    <input [(ngModel)]="selectedStation.name" name="selectedStation.name" type="text" class="form-control {{(nameUnique$ | async) ? '' : 'invalid'}}"
    id="inputName">
    <small *ngIf="!(nameUnique$ | async)" class="form-text text-danger">Sendername bereits vergeben</small>
  </div>
</app-edit>

<app-station-list [stations]="stations" (select)="onSelect($event)"></app-station-list>