<app-card title="Neuen Sender anlegen">
  <form>
    <div class="form-group">
      <label for="inputName">Name</label>
      <input
        [(ngModel)]="newStation.name"
        name="newStation.name"
        type="text"
        class="form-control"
        id="inputName"
      />
    </div>
    <button
      *ngIf="!requestInProgress"
      type="button"
      class="btn btn-primary"
      (click)="createStation()"
    >
      Sender anlegen
    </button>
    <button
      *ngIf="requestInProgress"
      class="btn btn-primary"
      type="button"
      disabled
    >
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
      In Arbeit...
    </button>
  </form>
  <br />
  <div *ngIf="lastSavedStation" class="alert alert-success" role="alert">
    <div>
      Neuer Sender: {{ lastSavedStation.name }} {{ lastSavedStation.id }}
    </div>
  </div>
</app-card>
