<form>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="tradername">Tradername</label>
      <input
        type="text"
        class="form-control"
        [class]="(tradernameExists$ | async) ? '' : 'is-invalid'"
        id="tradername"
        aria-describedby="tradernameFeedback"
        required
        (keyup)="tradernameChangedSubject.next($event.target.value)"
      />
      <div id="tradernameFeedback" class="invalid-feedback">
        Trader nicht bekannt
      </div>
    </div>
  </div>
</form>
